/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:Arial;
  }

  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: grey;
    color: white;
  }

.search {
    background-color: rgb(96, 94, 94);
    overflow: hidden;
  }
  

.search p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 27px;
    font-family: Arial;
  }

.search .searchbar {
  text-align: left;
  padding-top: 33px;
}
  
h1 {
  font-family:Arial;
  text-align: center;
}

.weather {
  font-family:Arial;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  background-image: url("https://www.sllf.org/wp-content/uploads/long-cloud-sky-panoramic-photo-15121573.jpg");
  height: 400px;
}
  

footer {
    display: block;
    text-align: center;
    padding: 3px;
    background-color: #333;
    color: #f2f2f2;
    font-family:Arial;
  }