body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #333;
    color: white;
}

table, th, td {
    border: 1px solid black;
  }

.logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

main {
    padding: 20px 40px;
}
.main-content {
    display: flex;
    align-items: flex-start;
    font-size: 22px;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.text-content {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #444;
}

.footer-content .social-media a,
.footer-content .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-content .social-media a:hover,
.footer-content .footer-links a:hover {
    color: #ff6347;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.head1 {
    text-align: center;
}

.img-home1 {
    margin-right: 20px;
    max-width: 1000px;
    height: auto;
}