<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Jaydon Matthews</title>
    <link rel="stylesheet" href="static/About-Me.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>About Me - Jaydon Matthews</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/online-courses">Online Courses</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="head1">About</h1>
        <div class="main-content">
            <div class="content-wrapper">
                <p class="img-home1"><img src="static/mazda-hood-open.jpg" alt="Mazda Mx5 Mk1 with hood popped"></p>
                <p class="img-home1"><img src="static/me-sat-next-to-lake.jpg" alt="Me sat fishing at a lake"></p>
                <div class="text-content">
                    <p>This page will be describing my hobbies, interests and other things like that.</p>
                    <p>
                        <ul>
                            <li>Fishing - I enjoy going fishing with friends and family as I love being out and enjoying nature aswell as having small but fun competitions of who can catch the most fish or who can catch the biggest fish.</li> <br></br>
                            <li>Gaming - I also have a great passion for playing games with friends as I find it very fun and relaxing as something to do whilst I am not at work or in school.</li> <br></br>
                            <li>Coding - I have a couple of little coding projects (including this website) that I work on during my free time to improve and enhance my skills and understanding.</li> <br></br>
                            <li>Painting mini figures - I am very creative and love being able to paint them anyway I see fit and I find this as a very relaxing and calming thing to do.</li> <br></br>
                            <li>Cars - I have had a passion for cars ever since I was little I have always been intersted in them and have always thought they were incredible and I have even started working on my own project car (Mazda Mx5 Mk1).</li>
                        </ul>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="social-media">
                <a href="https://www.linkedin.com/in/jaydonshaunjohnmatthews/" target="__blank" class="social-icon">LinkedIn</a>
                <a href="https://github.com/JaydonMatthews/JaydonMatthews" target="__blank" class="social-icon">GitHub</a>
            </div>
            <div class="footer-links">
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms of Service</a>
                <a href="/contact">Contact Me</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 About Me - Jaydon Matthews. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>