<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Jaydon Matthews</title>
    <link rel="stylesheet" href="static/About-Me.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>About Me - Jaydon Matthews</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/online-courses">Online Courses</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="head1">Privacy Policy</h1>
        <div class="main-content">
            <div class="content-wrapper">
                <div class="text-content">
                    <p></p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="social-media">
                <a href="https://www.linkedin.com/in/jaydonshaunjohnmatthews/" target="__blank" class="social-icon">LinkedIn</a>
                <a href="https://github.com/JaydonMatthews/JaydonMatthews" target="__blank" class="social-icon">GitHub</a>
            </div>
            <div class="footer-links">
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms of Service</a>
                <a href="/contact">Contact Me</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 About Me - Jaydon Matthews. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>