<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Jaydon Matthews</title>
    <link rel="stylesheet" href="static/About-Me.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>About Me - Jaydon Matthews</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/online-courses">Online Courses</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="head1">Projects</h1>
        <div class="main-content">
            <div class="content-wrapper">
                <p class="img-home1"><a href="https://www.amazon.co.uk/b?ie=UTF8&node=14100223031" target="__blank"><img src="static/alexa.jpeg" alt="Amazon Alexa"></a></p>
                <p class="img-home1"><a href="https://code.visualstudio.com" target="__blank"><img src="static/vs_code_logo.png" alt="Visual Studio Code logo"></a></p>
                <div class="text-content">
                    <h2>Alexa Project</h2>
                    <p>I have been working on a Python project that functions like an Alexa.</p>
                    <p>This allows the user to ask questions about about day or time it is and to play songs.</p>
                    <p>This project is my main one as in the future I am hoping to use hardware for the project.</p><br>
                    <h2>About Me Website</h2>
                    <p>This Website was created and designed in order to help me better understand web development.</p>
                    <p>It is also to allow me to show off my abilities and even improve them throughout the creation.</p>
                    <p>I am also going to be working on other websites as practice.</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="social-media">
                <a href="https://www.linkedin.com/in/jaydonshaunjohnmatthews/" target="__blank" class="social-icon">LinkedIn</a>
                <a href="https://github.com/JaydonMatthews/JaydonMatthews" target="__blank" class="social-icon">GitHub</a>
            </div>
            <div class="footer-links">
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms of Service</a>
                <a href="/contact">Contact Me</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 About Me - Jaydon Matthews. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>